
.projectsContainer {
    position: relative;
    margin-top: 25vh;
}


.projects {
    position: sticky;
    color: white;
    top: 0;
    margin-top: 25vh;
    padding: 10%;
}

.projectDescription {
    display: flex;
    height: 700px;
    justify-content: space-between;
    gap: 5%;
}

.imageContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.imageContainer img {
    object-fit: cover;
}

.column {
    display: flex;
    height: 100%;
    width: 15%;
    font-size: 4vw;
}

.column:last-of-type {
    align-items: flex-end;
    font-size: 3vw;
}

.projectList {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 200px;
}

.projectEl {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 3vw;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-end;
}

.projectEl h2 {
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: default;
}



@media (min-width: 768px) {

    
.column {
    display: flex;
    height: 100%;
    width: 60%;
    font-size: 1.9vw;
}

.column:last-of-type {
    align-items: flex-end;
    font-size: 1.7vw;
}


}