.whatsappButton {
    display: inline-flex;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    color: #fff;
    border: #ffffff solid;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .whatsappButton:hover {
    background-color: #128C7E;
  }
  
  .whatsappIcon {
    margin-right: 10px;
    font-size: 50px;
  }
  

  /* styles/Contact.module.css */
.contactContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .contactHeading {
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .contactText {
    font-size: 16px;
    color: #555;
    margin-bottom: 50px;
    font-weight: 300;

  }
  

  