.galleryContainer {
    max-width: 1200px;
    margin: 0 auto; /* Center the container */
    padding: 10px;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the range for more disproportion */
    gap: 0px;
}

.imageItem {
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
}

.imageItem img {
    transition: transform 0.3s ease-in-out;
    object-fit:cover;
    width: 100%;
}

.imageItem:hover img {
    transform: scale(1.1);
}

.galleryTitle {
    color: #fff;
    font-size: 46px; /* Increase the font size */
    margin-bottom: 20px; /* Add more space below the title */
    text-align: center; /* Center the title */
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 60px;
}